// * Page Transition Effect
.page {
  //height: 100vh;
  //padding: calc(15% + 1.5em) 5% 5%;
  //overflow-y: auto;
  //position: fixed;
  //top: 0;
  //width: 100%;
  //-webkit-overflow-scrolling: touch;
  //transition: transform 1s ease-in-out;
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.page-exit {
  opacity: 0;
  //transition: opacity 250ms ease-out;
}
// * Page Transition Effect
